body  {
    align-items: center;
    background: #000;
    color: #fff;
    display: flex;
    font-family: 'IBM Plex Mono', monospace;
    flex-direction: column;
    justify-content: center;
}

li {
    list-style: none;
}

.blue {
    color: rgba(100,100,255,.7);
}

.green {
    color: rgba(0,255,0,.6);
}

.menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 20px;
    text-indent: 18px;
    margin-top: 16%;
}

.menu > h2 {
    text-transform: uppercase;
}

.menu > a {
    border: 1px solid #fff;
    color: #fff;
    margin-top: 7%;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: letter-spacing .2s;
}

.menu > a:hover {
    letter-spacing: 18.5px;
}

.stats-screen {
    align-items: flex-start;
    background: rgba(255,255,255,.04);
    display: flex;
}

.stats-screen > a {
    align-self: center;
}

.stats-screen > h2 {
    text-align: center;
    font-size: 14px;
    letter-spacing: normal;
    margin-right: 14px;
}

.stats-screen > h3 {
    font-size: 14px;
    letter-spacing: normal;
    background: rgba(255,255,255,.2);
    padding: 8px;
    margin-top: -4px;
    text-indent: none;
}

.stats-screen > h4 {
    letter-spacing: normal;
    margin-top: -5px;
    margin-bottom: -3px;
    padding: 5px;
    text-indent: none;
}

.game-screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.area, .player {
    border: 1px solid #fff;
}

.area {
    width: 50%;
}

.player {
    width: 40%;
}

@media screen and (max-width: 700px), (orientation: portrait) {
    .game-screen {
        flex-direction: column;
    }

    .area {
        width: 100%;
    }

    .player {
        width: 100%;
    }
}


.area > p, .player > p {
    padding: 32px 32px 0px 32px;
}

.area > div, .player > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 12px;
}

#inventory {
    flex-direction: column;
}

#monsters {
    flex-direction: column;
}

#message {
    transition: color .5s;
}

.card {
    align-items: center;
    background: rgba(255,255,255,.2);
    display: flex;
    flex-direction: column;
    padding: 0px 12px 12px 12px;
    margin-top: 2px;
}

#inventory > .card {
    flex-direction: row;
    margin: auto;
    padding: 0px 12px 0px 12px;
    width: 70%;
}

#inventory > .weapon {
    background: rgba(0,255,0,.1);
}

#inventory > .shield {
    background: rgba(0,0,255,.1);
}

#inventory > .item-card > .item-card-description {
    display: none;
}

.item-card {
    min-width: 150px;
}

.item-card.shield {
    background: rgba(0,0,255,.35);
}

.item-card.weapon {
    background: rgba(0,255,0,.35);
}

.monster-card {
    background: rgba(255,0,0,.35);
}

.game-over-card {
    background: rgba(255,0,0,.20);
}

.card > div {
    margin: 12px 6px 9px 6px;
}

.card > p {
    padding: 8px 12px 8px 12px;
}

.card > .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.action-button {
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 4px 6px 4px 6px;
    cursor: pointer;
}

.action-button:hover {
    border: 1px solid rgba(0,0,0,0);
    color: rgba(255,255,0,.7);
}

.hidden {
    display: none;
}
